<section class="informative">
<h2>Governance</h2>

<h3>Versioning governance</h3>
All specifications produced in Data4Wallonia will follow the versioning rule described by the SEMIC Style Guide rule 
<a href="https://semiceu.github.io/style-guide/1.0.0/gc-publication-conventions.html#sec:pc-r3">PC-R3</a>.
<p/>
The serialisation will have:
<ul>
<li>a dct:isReplacedBy referencing the new assets used instead and</li>
<li> an euvoc:status  indicating its deprecated <a href="http://publications.europa.eu/resource/authority/concept-status/DEPRECATED">status</a>.</li>
</ul>
<p/>

<h3>Lexicalisation rules</h3>

In order to adhere to the SEMIC Style Guide rule <a href="https://semiceu.github.io/style-guide/1.0.0/gc-semantic-conventions.html#sec:sc-r3">SC-R3</a> a specification requires formal lexicalisation rules.
The Style Guide proposes two options either by using RDFS or SKOS lexicalisation.
<p/>
Data4Wallonia uses and will use the SKOS lexicalisation for the taxonomy at least. More specifically:
<ul>
<li> skos:preflabel is used to provide a human-readable version of a resource's name.</li>
<li> skos:altLabel is used to provide an alternative human-readable version of a resource's name.</li>
</ul>

</section>